@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

html {
  scroll-behavior: smooth;
}

body {
  background: #212121;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 16px;
}

.container {
  margin: 1.25em 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "tasks tasks tasks addAndFilter";
  gap: 1.5625rem;
}

header {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(43deg, #ffcc70 0%, #c850c0 46%, #4158d0 100%);
  border: 1px solid rgba(255, 255, 255, 0.61);
  color: #000;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.625em;
  padding: 1.25em;
  border-radius: 10px;
  grid-area: header;
}

h1,
h2 {
  margin: auto;
  color: #fff;
  /* Color del texto */
  text-shadow: 4px 4px 0px black;
  /* Sombras (ajusta los valores según sea necesario) */
}

h2 {
  color: #ffe347;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25em;
  grid-area: tasks;
  block-size: fit-content;
  /* grid-auto-rows: 1fr; */
}

.card {
  /* height: 100%; */
  max-width: 25rem;
  color: white;
  position: relative;
}

.card .content span,
.card .content p {
  word-wrap: break-word;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
}

.card.finished.low::before,
.card.finished.low::after,
.card.finished.mid::before,
.card.finished.mid::after,
.card.finished.high::before,
.card.finished.high::after,
.card.finished::before,
.card.finished::after {
  background-color: #007f5f;
  /* Cambia al color deseado para el estado 'finished' */
}

.card.low::before,
.card.low::after {
  background-color: #d11bff42;
  /* Cambia al color deseado para el estado 'finished' */
}

.card.mid::before,
.card.mid::after {
  background-color: #ffa63267;
  /* Cambia al color deseado para el estado 'finished' */
}

.card.high::before,
.card.high::after {
  background-color: #dd5467e5;
  /* Cambia al color deseado para el estado 'finished' */
}

.card::before {
  border-radius: 50%;
  width: 9.375em;
  height: 9.375em;
  top: 15%;
  right: 15%;
}

.card .content {
  /* min-height: 90%; */
  min-width: 90%;
  max-width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.445);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .content .title {
  font-size: 1.1875rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.1em;
}

.card .content div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.card.low .content:hover {
  box-shadow: 0px 0px 20px 1px #d11bff42;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.card.finished .content:hover,
.card.finished.low .content:hover,
.card.finished.mid .content:hover,
.card.finished.high .content:hover {
  box-shadow: 0px 0px 20px 1px #007f5f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.card.mid .content:hover {
  box-shadow: 0px 0px 20px 1px #ffa63267;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.card.high .content:hover {
  box-shadow: 0px 0px 20px 1px #dd5467e5;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.addAndFilter {
  justify-self: end;
  max-width: 25em;
  padding: 1.25em;
  border-radius: 10px;
  background-color: rgb(104, 86, 204);
  border: 1px solid rgba(255, 255, 255, 0.61);
  box-shadow: #d11bff42 0 15px 40px -5px;
  grid-area: addAndFilter;
}

.addAndFilter h2 {
  text-align: center;
}

.dates {
  margin: 35px 0 15px 0;
  display: flex;
  gap: 0.625em;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}

.input {
  padding: 0.625em;
  height: 2.8125em;
  width: 95%;
  border: 2px solid #000;
  border-radius: 12px;
  font-size: 1em;
  background: #fff;
  outline: none;
  box-shadow: 5px 5px 0px 0px #000;
  transition: all 0.5s;
}

.input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.button-container {
  text-align: right;
}

.filter {
  margin-top: 3.125em;
}

.filter h2 {
  margin-bottom: 0.9375em;
}

#btnAdd, #btnUpdate {
  width: 100%;
}

.btn {
  font-size: 1em;
  margin: 0.3125em;
  padding: 0.625em 0.9375em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 12px;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn:before {
  content: "";
  position: absolute;
  width: 6.25em;
  height: 120%;
  background-color: #fff;
  top: 50%;
  transform: skewX(30deg) translate(-350%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
}

.btn:hover::before {
  transform: skewX(30deg) translate(300%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "tasks tasks addAndFilter";
  }

  .tasks {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .dates {
    margin: 0.9375em 0 0.9375em 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .dates label {
    margin-top: 0.625em;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "tasks addAndFilter";
  }

  .tasks {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .container {
    grid-template-areas:
      "header header"
      "addAndFilter addAndFilter"
      "tasks tasks";
  }

  .addAndFilter {
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.625em;
  }

  .filter {
    margin-top: 0px;
    text-align: center;
  }

  .input {
    width: 85%;
  }

  #btnAdd {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 10px;
  }
}